<h1>Add New Tasks</h1>

<%= form_with(model: [@list, @task], local: true, class: "ui form") do |f| %>
  <%= f.label :body %>
  <%= f.text_field :body, required: true %>
  <br />
  <%= f.submit nil, class: "ui button blue" %>
<% end %>