<h1>New board</h1>

<%= form_with(model: @board, local: true, class: "ui from") do |f|%>
  <div class = "field">
  <%=f.label :name%>
  <%=f.text_field :name, required: true, placeholder: "Name"%>
  </div>
  <%=f.submit%>
<% end%>
