<nav class="ui menu">
  <%= link_to "Lists", lists_path, class: "item" %>
  <%= link_to "Add Lists", new_list_path, class: "item" %>
  <%= link_to "Add board", new_board_path, class: "item"%>
  <div class="right menu">
  </div>
</nav>
